<Header class="header">

  <nav class="nav-bar">

    <div class="logo-div">
      <img src="images/logo.png" alt="">
    </div>


    <ul class="nav-links">

      <li> <a href="/">Home</a> </li>
      <li> <a href="/">About</a> </li>
      <li id="service-menu"> <a href="/">Services
          <div class="service-dropdown-menu ">
            <div class="service-grid">

              <div class="grid-item " id="first-box">

                <h2>Work with Devlints</h2>
                <p>Experience the excellence of our dedicated proffesionalls who are adept in delivering top-notch
                  solutions</p>
                <button>Lets get started ></button>
              </div>

              <div class="grid-item">
                <div class="img-div"> <img src="/images/coding-img.png" alt=""> </div> <span>Web Developement</span>
              </div>
              <div class="grid-item">
                <div class="img-div"> <img src="/images/coding-img.png" alt=""> </div> <span>Web Developement</span>
              </div>
              <div class="grid-item">
                <div class="img-div"> <img src="/images/coding-img.png" alt=""> </div> <span>Web Developement</span>
              </div>
              <div class="grid-item">
                <div class="img-div"> <img src="/images/coding-img.png" alt=""> </div> <span>Web Developement</span>
              </div>
              <div class="grid-item">
                <div class="img-div"> <img src="/images/coding-img.png" alt=""> </div> <span>Web Developement</span>
              </div>
              <div class="grid-item">
                <div class="img-div"> <img src="/images/coding-img.png" alt=""> </div> <span>Web Developement</span>
              </div>
              <div class="grid-item">
                <div class="img-div"> <img src="/images/coding-img.png" alt=""> </div> <span>Web Developement</span>
              </div>
              <div class="grid-item">
                <div class="img-div"> <img src="/images/coding-img.png" alt=""> </div> <span>Web Developement</span>
              </div>
              <div class="grid-item">
                <div class="img-div"> <img src="/images/coding-img.png" alt=""> </div> <span>Web Developement</span>
              </div>
              <div class="grid-item">
                <div class="img-div"> <img src="/images/coding-img.png" alt=""> </div> <span>Web Developement</span>
              </div>
              <div class="grid-item">
                <div class="img-div"> <img src="/images/coding-img.png" alt=""> </div> <span>Web Developement</span>
              </div>
              <div class="grid-item">
                <div class="img-div"> <img src="/images/coding-img.png" alt=""> </div> <span>Web Developement</span>
              </div>
              <div class="grid-item">
                <div class="img-div"> <img src="/images/coding-img.png" alt=""> </div> <span>Web Developement</span>
              </div>
              <div class="grid-item">
                <div class="img-div"> <img src="/images/coding-img.png" alt=""> </div> <span>Web Developement</span>
              </div>
              <div class="grid-item">
                <div class="img-div"> <img src="/images/coding-img.png" alt=""> </div> <span>Web Developement</span>
              </div>

            </div>

          </div>
        </a> <img src="/images/down-arrow.png" class="arrow" alt="">
      </li>
      <li> <a href="/">Products </a> <img src="/images/down-arrow.png" class="arrow" alt=""></li>
      <li id="hire-talent-menu"> <a href="/">Hire Talent </a>
        <div class="hiring-dropdown-menu">
          <div class="hiring-grid">
            <div class="hiring-grid-items" id="first-hiring-box">Experience the excellence of our dedicated
              professionals who are adept in delivering top-notch solutions.</div>
            <div class="hiring-grid-items">
              <div class="img-div"> <img src="/images/php-logo.png" alt=""> </div> <span>Web Developement</span>
            </div>
            <div class="hiring-grid-items">
              <div class="img-div"> <img src="/images/php-logo.png" alt=""> </div> <span>Web Developement</span>
            </div>
            <div class="hiring-grid-items">
              <div class="img-div"> <img src="/images/php-logo.png" alt=""> </div> <span>Web Developement</span>
            </div>
            <div class="hiring-grid-items">
              <div class="img-div"> <img src="/images/php-logo.png" alt=""> </div> <span>Web Developement</span>
            </div>
            <div class="hiring-grid-items">
              <div class="img-div"> <img src="/images/php-logo.png" alt=""> </div> <span>Web Developement</span>
            </div>
            <div class="hiring-grid-items">
              <div class="img-div"> <img src="/images/php-logo.png" alt=""> </div> <span>Web Developement</span>
            </div>
            <div class="hiring-grid-items">
              <div class="img-div"> <img src="/images/php-logo.png" alt=""> </div> <span>Web Developement</span>
            </div>
            <div class="hiring-grid-items">
              <div class="img-div"> <img src="/images/php-logo.png" alt=""> </div> <span>Web Developement</span>
            </div>
            <div class="hiring-grid-items">
              <div class="img-div"> <img src="/images/php-logo.png" alt=""> </div> <span>Web Developement</span>
            </div>
            <div class="hiring-grid-items">
              <div class="img-div"> <img src="/images/php-logo.png" alt=""> </div> <span>Web Developement</span>
            </div>

          </div>
        </div>
        <img src="/images/down-arrow.png" alt="" class="arrow">
      </li>
      <li> <a href="/">Contact</a> </li>
      <li> <a href="/">Careers</a> </li>
      <li> <a href="/">HyperLab Academy</a> </li>

      

    </ul>
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </nav>




</Header>


<script>
  
document.addEventListener("DOMContentLoaded", () => {
  const hamburger = document.querySelector('.hamburger');
  const navLinks = document.querySelector('.nav-links');
  const header = document.querySelector('.header');

  if (hamburger && navLinks && header) {
    hamburger.addEventListener('click', (e) => {
       
      if (window.innerWidth <= 901) {
        e.preventDefault();
        console.log('hamburger-clicked');
        navLinks.classList.toggle('show');
        header.classList.toggle('increase-height');
        hamburger.classList.toggle('active');
      }
    });
  }
});






document.addEventListener("DOMContentLoaded", () => {
    const serviceMenu = document.getElementById("service-menu");
    const serviceDropdown = document.querySelector(".service-dropdown-menu");
  
    if (serviceMenu && serviceDropdown) {
      serviceMenu.addEventListener("click", (e) => {
        // Prevent navigation and toggle dropdown only on small screens
        if (window.innerWidth <= 900) {
          e.preventDefault();
          serviceDropdown.classList.toggle("show");
        }
      });
    }
  });



  
</script>