<section class="footer-section">

    <div class="footer">
        <div class="footer-logo">
            <div><img src="/images/footer-logo.png" alt=""></div>
            <p>info@devlints.com</p>
            <div class="social-icons">
                <span><img src="/images/social-icons/facebook.png" alt=""></span>
                <span><img src="/images/social-icons/instagram.png" alt=""></span>
                <span><img src="/images/social-icons/twitter.png" alt=""></span>
                <span><img src="/images/social-icons/linkedin.png" alt=""></span>
                <span><img src="/images/social-icons/github.png" alt=""></span>
                
            </div>
            
        </div>
        <div class="footer-menu">
            <h2>COMPANY</h2>
            <P>About us</P>
            <p>Contact us</p>
            <p>Services</p>
            <p>Careers</p>
        </div>

        <div class="footer-menu">
            <h2>USEFUL LINKS</h2>
            <P>Privacy Policy</P>
            <p>Terms & Conditions</p>
            <p>EULA</p>
            <p>GDPR Compilance</p>
        </div>

        <div class="footer-menu">
            <h2>PRODUCTS</h2>
            <P>Zaayve AI</P>
            <p>Order Connects</p>

        </div>


    </div>

    <div class="footer-licence">
        © 2025 Devlints all right reserved
    </div>

</section>